# ==========================
# Virtual Environment
# ==========================
venv/
.venv/

# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# Test Reports
# ==========================
reports/
allure-results/

# ==========================
# Screenshots
# ==========================
screenshots/

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db